# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# Thumbnails
__MACOSX/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Virtual environments
venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.C0MMIT

models/data_files/webqsp/triple_scores/train.pth
*.pth
*.pkl
